
.dateRangePicker {
  position: absolute;
  top:75%;
  right: 15%;
  z-index: 999;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;

}

.react-datepicker {
  font-family: 'PT Sans';
}

.react-datepicker__day-name, .react-datepicker__day {
  text-transform: capitalize;
}

.customDay {
  color: #000;
}

.customCalendar {
  border: none;
  background: transparent;
}
.periodTable {

  display: flex;
  flex-direction: column;
}

.periodCell {
  padding: 10px;
  border-left: 1px solid #ccc;
  cursor: pointer;
}

.datePickerContainer {
  position: relative;
}

.readyButton {
  position: absolute;
  left:5%;
  border: 1px solid #C5C5C5;
  width: 51px;
  height: 28px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.readyButton:focus {
  outline: none;
}
.periodCell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}