.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #EFF3F6;
    border-radius: 10px;
}

.modalContent {
    padding: 30px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
    color: black;
    font-size: 32px;
}

.links{

}
.section{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 15px;
}
.section {

    span:first-child {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
    }

}
.section a{
    color:#2969d1;
    overflow: hidden;
}
.title{

}

.sharelinks{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 5px;
}
.linkscopy{
    background-color: #EAF5F8;

;
}

.sharecopy {
    padding: 5px 10px 5px 5px;
    background-color:#C5E4EB;
    border-radius: 5px;
    justify-content: space-between;
    opacity: 0.9;
    display: flex;
    align-items: center;
    color: #309EBA;

}
.sharecopy:hover{
    cursor: pointer;
}
.sharecopy span{
    background-color:#C5E4EB;
    padding: 5px;
    color: #309EBA;
}
.sharelinks a{
    display: inline-block;
    padding: 10px;
    color: #309EBA;
}