

.record-content-item {
  min-height: 200px;
}

.meeting-list {
  list-style: none;
  padding: 0;
}

.meeting-item {
  border: 1px solid #C5C5C5;
  margin-bottom: 10px;
}

.record-item {
  min-height: 50px;
  padding: 15px 0;
  gap: 20px;
  border: 1px 0 0 0;
  opacity: 1;
}

.record-links {
  display: flex;
  flex-direction: column;
  gap:10px;
}
.record-links-item {
  margin-bottom: 10px;
}

.transcript-download-link {
  margin-left: 20px;
}

.request-transcript-button {
  background-color: #6aabf1;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin: 10px 0 0 0;
}

.request-transcript-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
