

.record-content-item {
  min-height: 200px;
}

.meeting-list {
  list-style: none;
  padding: 0;
}

.meeting-item {
  border: 1px solid #C5C5C5;
  margin-bottom: 10px;
}

.record-item {
  min-height: 50px;
  padding: 15px 0;
  gap: 20px;
  border: 1px 0 0 0;
  opacity: 1;
}

.record-links {
  display: flex;
  flex-direction: column;
  gap:10px;
}
// MeetingList.module.scss

.request-transcript-button {
  background-color: #007bff; // Цвет фона кнопки
  color: #fff; // Цвет текста кнопки
  border: none; // Убираем границу
  padding: 8px 16px; // Отступы внутри кнопки
  cursor: pointer; // Курсор при наведении
}

.request-transcript-button:disabled {
  background-color: #ccc; // Цвет фона кнопки, когда она заблокирована
  cursor: not-allowed; // Курсор при наведении, когда кнопка заблокирована
}
