

.record-content-item {
  min-height: 200px; /* Минимальная высота для избежания скачков элементов при загрузке */
}

.meeting-list {
  list-style: none;
  padding: 0;
}

.meeting-item {
  border: 1px solid #C5C5C5; /* Бордер для каждого элемента встречи */
  margin-bottom: 10px; /* Отступ между элементами встречи */
}

.record-item {
  min-height: 50px;
  padding: 15px 0;
  gap: 20px;
  border: 1px 0 0 0;
  opacity: 1;
}

.record-links {
  display: flex;
  flex-direction: column;
  gap:10px;
}
