.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
  min-height: 32px;
}

.paginationButton {

  padding: 6px;
  margin: 0 5px;
  font-size: 16px;
  color: #F6F5F6;
  border: 1.22px solid #999fa4;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.paginationInfo {
  margin: 0 10px;
  font-size: 16px;
}

.paginationIcon {
  transform: translateY(-50%);
  color: #5B5B5B;
  padding: 10px 15px;
}

.paginationButton:first-child .paginationIcon {
  left: 9px;
}

.paginationButton:last-child .paginationIcon {
  right: 9px;
}
