.meeting-list {
    list-style: none;
    padding: 0;
}

.meeting-item {
    border: 1px solid #C5C5C5;
    margin-bottom: 10px;
}

.record-item {
    min-height: 50px;
    padding: 15px 0;
    gap: 20px;
    border: 1px 0 0 0;
    opacity: 1;
    position: relative;
}

.record-links {
    display: flex;
    flex-direction: row;
    gap:10px;
}
.record-links img {
    width: 44px;
    height: 44px;
    padding: 0 10px;
}
.record-links-item {
    margin-bottom: 10px;
}
.record-date-item{
    text-align: start;
    padding: 10px;
}
.transcript-download-link {
    margin-left: 20px;
}

.request-transcript-button {
    background-color: #6aabf1;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.request-transcript-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.context-menu {
    position: relative;
}

.context-menu-icon {
    cursor: pointer;
}
.record-links-container a {
    color: #4C9AF9;
}


.context-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.download-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.download-links-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    text-align: left;
}

.download-links-container a{
    color: #4C9AF9;
}
.context-menu-items.active {
    display: block;
}
.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
}

.context-menu-item:hover {
    background-color: #f0f0f0;
}
.context-menu {
    position: absolute;
    right: 10px;
}