.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1000px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0px 0px 30px 0px;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-slm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;

}
.modal-slm span{
    color: white;

}
.modal-slm img{
    width: 30px;
    height: 20px;

}
.modal-content {
    text-align: center;
    flex-grow: 1;
}
.modal-button-content{
    display: flex;
    justify-content: end;
    padding: 15px;
    padding-bottom: 0;
}
.create-meeting-button {
    padding: 10px 47px; /* Отступы */

    border-radius: 5px;
    border: 1px solid #4C8BF7;
    background: #4C8BF7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.create-meeting-button:hover {
    background-color: #3255a0;
    border-color: #3255a0;
}


.meeting-title {
    display: block;
    font-size: 24px;
    color: #333;
    margin: 20px;
    text-align: start;
}
.closeButton {
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;
    color: white;
    font-size: 36px;
}
.modal-logo {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #226FBB;

}

.close-icon {
    position: absolute;
    top: 40%;
    right: 40px;
    cursor: pointer;
}
.create-meeting-button {
    padding: 10px 47px;
    border-radius: 5px;
    border: 1px solid #4C8BF7;
    background: #4C8BF7;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.create-meeting-button:hover {
    background-color: #3255a0;
    border-color: #3255a0;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-meting{
    display: flex;
    justify-content: end;
    padding: 20px 20px 0;
}
